/*Universal Selectors Start*/
html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Prompt', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*-Universal Selectors End-*/

/*Header Seletors Start*/
header {
  width: 100%;
  height: 5.33rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.83rem;
  color: rgb(91, 92, 94);
  font-weight: 500;
}

.header-title img {
  height: 75%;
}

.header-title span {
  font-weight: bold;
  color: rgb(49, 49, 51);
}

.header-nav ul li {
  display: inline;
  padding: .66rem;
  font-size: 1.75rem;
}
/*-Header Selectors End-*/


/*Content Section Selectors Start*/

.content-container {
  display: flex;
  padding: 2.66rem 2rem;
}

/*Banner Selectors Start*/
.banner {
  background-color: lightgray;
}

.banner img {
  width: 60%;
  margin-right: 3.33rem;
}

.banner-text {
  width: 30%;
  margin: auto 0;
  color: rgb(91, 92, 94);
  font-weight: bold;
}

.banner h1 {
  font-size: 5.25rem;
  margin-bottom: 2.5rem;
}

.banner h3 {
  font-size: 2.5rem;
  margin-bottom: 2.75rem;
  font-weight: 600;
}

.banner-btn {
  width: 100%;
  background-color: rgb(91, 92, 94);
  text-align: center;
  padding: .66rem 0;
}

.banner-btn a{
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5rem;
}

/*-Banner Selectors End-*/

/*Read More Selectors Start*/

/*-Read More Selectors End-*/

/*Start Learning Selectors Start*/
/*-Start Learning Selectors End-*/

/*Thesis Exhibit Selectors Start*/
/*-Thesis Exhibit Selectors End-*/

/*-Content Section Selectors End-*/
