/*Universal Selectors Start*/
html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Prompt', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*-Universal Selectors End-*/

/*Header Seletors Start*/
.header-desktop {
  width: 100%;
  height: 5.33rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile {
  display: none;
}

.header-title {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.83rem;
  color: rgb(91, 92, 94);
  font-weight: 500;
}

.header-title img {
  height: 75%;
}

.header-title span {
  font-weight: bold;
  color: rgb(49, 49, 51);
}

.header-nav ul li {
  display: inline;
  padding: .66rem;
  font-size: 1.75rem;
}
/*-Header Selectors End-*/


/*Content Section Selectors Start*/

.content-container {
  display: flex;
}

/*Banner Selectors Start*/
.banner {
  background-color: lightgray;
}

.banner img {
  width: 60%;
  margin-right: 3.33rem;
  margin: 2.66rem 2rem;
}

.mobile-banner-img {
  display: none;
}

.banner-text {
  width: 30%;
  margin: auto 0;
  color: rgb(91, 92, 94);
  font-weight: bold;
}

.banner h1 {
  font-size: 5.25rem;
  margin-bottom: 2.5rem;
}

.banner h3 {
  font-size: 2.5rem;
  margin-bottom: 2.75rem;
  font-weight: 600;
}

.banner-btn {
  width: 100%;
  background-color: rgb(91, 92, 94);
  text-align: center;
  padding: .66rem 0;
}

.banner-btn a{
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5rem;
}

/*-Banner Selectors End-*/

/*Read More Selectors Start*/

/*Left Column Selectors Start*/
  .left-column {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2.66rem 2rem;
  }

  .left-text {
    text-align: center;
  }

  .left-column h1 {
    color: rgb(91, 92, 94);
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2.66rem;
    margin-bottom: 2rem;
  }

  .left-column p {
    font-size: 1.75rem;
    margin-bottom: 2.66rem;
  }

  .left-column span {
    font-size: 1.75rem;
  }

/*-Left Column Selectors End-*/

/*Right Column Selectors Start*/
  .right-column {
    display: flex;
    flex-direction: column;
    margin-top: 1.33rem;
    border-left: 0.05rem solid lightgray;
  }

  .info-container {
    display: flex;
    padding: 1.33rem;
    border-bottom: .05rem solid lightgray;
  }

  .desktop-info-img {
    width: 35%;
    height: 100%;
  }

  .mobile-info-img {
    display: none;
  }

  .info {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .66rem;
  }

  .info span {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .66rem;
  }

  .info a {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(101, 157, 247);
    text-decoration: none;
  }

  #third-info {
    background-color: lightgray;
  }

/*-Right Column Selectors End-*/

/*-Read More Selectors End-*/

/*Start Learning Selectors Start*/
.start-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.start-learning h1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(91, 92, 94);
  margin: 2rem 0;
}

.all-courses {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.course-container {
  width: 30%;
  margin: 1rem 1.33rem;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.course-container img {
  width: 100%;
}

.course-name {
  font-size: 2rem;
  color: rgb(91, 92, 94);
  font-weight: 600;
  margin-top: 1.33rem;
}

.courses-text {
  font-size: 1.85rem;
  margin: .66rem 0;
}

.course-desc {
  font-size: 1.65rem;
  margin-bottom: 2rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
/*-Start Learning Selectors End-*/

/*Thesis Exhibit Selectors Start*/
  .thesis-exhibit {
    flex-direction: column;
    text-align: center;
  }

  .thesis-exhibit h1 {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(91, 92, 94);
  }

  .thesis-content {
    display: flex;
  }

  /*Thesis Right Start*/
  .thesis-right {
    margin-left: 1.33rem;
    margin-top: 2.66rem;
  }

  .thesis-right-content {
    display: flex;
    padding: 1.33rem;
    border-bottom: 0.1rem solid lightgray;
    height: 168px;
  }

  .thesis-right-text {
    display: flex;
    flex-direction: column;
    margin: auto 1.66rem auto 1.66rem;
    text-align: left;
  }

  .thesis-right-text h3 {
    font-size: 2rem;
    color: rgb(91, 92, 94);
    font-weight: 600;
  }

  .thesis-right-text span {
    font-size: 1.5rem;
  }

  .thesis-right-content img {
    width: 35%;
  }

  #fisma {
    background-color: lightgray;
  }
  /*-Thesis Right End-*/

  /*Thesis Left Start*/
  .thesis-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2.66rem 2rem;
  }

  .thesis-left video {
    width: 100%;
    height: auto;
  }

  .thesis-left h3 {
    font-size: 2.5rem;
    color: rgb(91, 92, 94);
    font-weight: 600;
  }

  .thesis-left p {
    font-size: 1.75rem;
    margin-bottom: 2.66rem;
  }
  /*-Thesis Left End-*/

/*-Thesis Exhibit Selectors End-*/

/*-Content Section Selectors End-*/

/*Footer Start*/
footer {
  color: rgb(91, 92, 94);
  background-color: lightgray;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.footer-nav ul li {
  display: inline;
  margin-left: 1rem;
}
/*-Footer End-*/



/*480px Media Query Start*/
@media only screen and (max-width: 480px) {
  /*Mobile Header Selectors Start*/
  .header-desktop {
    display: none;
  }

  .header-mobile {
    width: 100%;
    height: 5.33rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*-Mobile Header Selectors End-*/

  /*Mobile Banner Selectors Start*/
  .banner {
    flex-direction: column;
  }

  .banner img {
    display: none;
  }

  .mobile-banner-img {
    display: block;
    background-color: rgb(91, 92, 94);
    height: 180px;
  }

  .banner-text {
    width: 100%;
    color: rgb(91, 92, 94);
    font-weight: bold;
  }

  .banner h1 {
    font-size: 3.25rem;
    margin: 2.75rem 1.66rem;
  }

  .banner h3 {
    font-size: 1.5rem;
    margin-bottom: 2.75rem;
    margin-left: 1.66rem;
    font-weight: 600;
  }

  .banner-btn {
    margin-bottom: 2.75rem;
  }
  /*-Mobile Banner Selectors End-*/

  /*Mobile Read More Selectors Start*/
  .left-column {
    display: none;
  }

  .desktop-info-img {
    display: none;
  }

  .info-container {
    flex-direction: column;
  }

  .info {
    text-align: center;
    padding-top: .75rem;
  }

  .info h3 {
    font-size: 1.5rem;
  }

  .info span {
    font-size: .75rem;
  }

  .info a {
    font-size: .75rem;
  }

  .mobile-info-img {
    width: 100%;
    display: block;
  }
  /*-Mobile Read More Selectors End-*/

  /*Mobile Start Learning Selectors Start*/
  .start-learning {
    background-color: white;
  }

  .start-learning h1 {
    font-size: 2.5rem;
  }

  .all-courses {
    margin-bottom: 2.66rem;
    border-bottom: 0.05rem solid lightgray;
  }

  .course-container img, .course-container span {
    display: none;
  }

  .course-container {
    width: 100%;
    background-color: lightgray;
    padding: 1.66rem;
  }

  .course-name {
    margin: auto;
  }
  /*-Mobile Start Learning Selectors End-*/

  /*Mobile Thesis Exhibit Selectors Start*/
    .thesis-exhibit h1 {
      font-size: 2.5rem;
    }

    .thesis-right {
      Display: none;
    }

    .thesis-left h3, .thesis-left p{
      display: none;
    }

    .thesis-left {
      width: 100%;
    }
  /*-Mobile Thesis Exhibit Selectors End-*/

  /*Mobile Footer Selectors Start*/
  footer {
    font-size: 1rem;
  }
  /*-Mobile Footer Selectors End-*/


}
/*-480px Media Query End-*/
